.product {
  position: relative;
}

.product-image {
  width: 100%;
  height: 100%;
  
}

.product-details {
  position: relative;
  top: -120px;
  z-index: 1;
  color: white;
  padding: 10px;
}

.product-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 499px;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer; 
}

.product:hover .product-background {
  opacity: 1;
}

.product-title,
.product-description,
.product-price {
  color: #fff;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0.8);
}
.product-modal-title,
.product-modal-text {
  color: white;
}
.product-modal-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.modal-header {
  display: none;
}

.modal-dialog {
  max-width: 400px; 
}

.product-modal-image {
  max-width: 100%; 
  height: auto; 
}
.product-title {
  position: relative;
  z-index: 1;
  top: 40px;
  left: 12px;
}

.modal-precio{
  position: absolute;
  top: 483px;
  right: 20px;
}

.product-description {
  position: relative;
  z-index: 1;
  left: 12px;
  top: 40px;
}

.product-price {
  position: relative;
  z-index: 1;
  top: 0;
  left: 330px;
}
.fondo {
  margin-top: -88px;
  width: 100%;
  height: 88px; 
  z-index: 1;
  background: #1D1D1B;
  opacity: 0.54;
}



.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%) rotate(-180deg);
}



@media (max-width: 769px) {
  .product-background {
    width: 100%;
    height: 619px;
  }
  .product-price{
    left: 400px;
  }
}


.carousel{
  margin-top: 60px;
}

footer{
  margin-top: 60px;
}


@media (min-width: 770px) and (max-width: 991px) {
  .product-background {
    width: 100%;
    height: 259px;
  }
  .product-price{
    left: 130px;
  }
  .fondo{
    width: 216px;
  }
}




@media (min-width: 991px) and (max-width:1199px){
  .fondo{
    width: 100%;
  }
  .product-background{
    width: 296px;
    height: 355px;
  }
  .product-price{
    left: 200px;
  }
}

@media (min-width: 1200px) and (max-width:1399px){
  .product-background{
    width: 100%;
    height: 427px;
  }
  .fondo{
    width: 356px;
  }
  .product-price{
    left: 260px;
  }
}